streamlit>=1.56.0
python-docx
python-dotenv
pypdf
langchain
langchain-google-genai
chromadb>=1.5.9
tiktoken>=0.12.0
plotly
pandas>=3.0.0
google-genai
Pillow
lxml
langchain-text-splitters
langchain-community
langchain-chroma
protobuf>=5.0.0
